*.pyc
*.pyo
*.pyd
*.orig
*.*~
*~
*.swp
*.rsp
*.inv
*.des
*.orig
.lesshst
.ssh
.directory
.project
.pydevproject
.settings
.amateras
/.hoerc
/.hoe.log
DETAILS
nbproject
/Makefile
/.git_wrapper.py
/addons-heo.lst
/oerp-server.cfg
